.wrapper {
  position: relative;
  display: flex;
  background-color: #1b1b1b;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(190, 190, 190, 0.695) 0px 2px 4px 0px,
    rgba(169, 169, 169, 0.726) 0px 2px 16px 0px; */
  box-shadow: rgba(119, 119, 119, 0.25) 0px 50px 100px -20px,
    rgba(142, 142, 142, 0.3) 0px 30px 60px -30px,
    rgba(151, 151, 151, 0.35) 0px -2px 6px 0px inset;
}
